/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 // Custom bootstrap variables must be set or imported *before* bootstrap.
 @import "bootstrap";

 @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

 body {
     font-family: 'Rubik', sans-serif;
     font-size: 12px;
     padding-top: 7em;
     margin-left: 2em;
     margin-right: 2em;
     color: rgb(255, 255, 255);
     background-color: rgb(16, 13, 23);
 }

 .navbar {
   background-color: rgb(23, 18, 33);
 }

 a {
   color: rgb(235, 83, 69);
   opacity: 0.85;
   transition: 0.8s linear;
 }

 a:hover, a:active {
   text-decoration: none;
   color: rgb(255, 138, 5)
 }

h1, h2, h3 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
}

 h1 {
   padding-bottom: 1em;
   text-align: center
 }

 h3 {
   font-size: 18px;
 }

 p, li, a {
   font-size: 16px;
 }

 .card-body {
   background-color: rgb(23, 18, 33);
   font-size: 14px;
 }

 .dj-info {
   grid-row: 2;
   background-color: rgb(255, 138, 5);
   margin-bottom: 6em;
   padding-top: 2em;
   padding-bottom: 2em;
   text-align: center;
 }
